#usando{
    background: rosybrown;
}
#usandog{
    background: blueviolet;
}
.dimh{
    font-size: 25px;
}
.dimhgg{
    font-size: 15px;
}
body{

}
.mm{
    background: papayawhip;
    width: 30px;
}